body {
    background-size: 1600px 800px;
    
}
.container {
	margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
   
    
}

.registration-form {
    background-color: rgb(218, 214, 214);
    padding: 15px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 15px;
    width: 900px;
    margin: auto;
    color: black;
}

.title {
	text-align: center;
}
.valid-feedback, .invalid-feedback {
    color: red;
    font-weight: bold;
} 

.submit-btn {
	text-align: center;
}